<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Autore</title>
    <link rel="stylesheet" href="/css/operazioni.css" />
  </head>

  <body>
   
    <header>
      <a href="/" class="logo-link">
        <img src="/images/logo-siwBooks.png" alt="Logo SiwBook" class="logo-img" />
      </a>
      <div class="navbar">
        <h1 class="logo">Libreria SIW</h1>
        <nav>
          <ul>
            <li><a href="/books">Catalogo</a></li>
            <li><a href="/bookIndex">Operazioni Libri</a></li>
            <li><a href="/authorIndex">Operazioni Autori</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>


    <main class="main-content">
      <div class="container" th:if="${author}">
        <h2 th:text="${author.name + ' ' + author.surname}">Nome Cognome</h2>
		
		<ul class="author-list">
			Libri:
		          <li th:each="book : ${author.books}"> 
		              <a th:href="@{'/book/' + ${book.id}}" th:text="${book.title}"></a>
		            
		          </li>
		      </ul>

        <div class="info">
          Nazionalità:
          <strong th:text="${author.nationality}"></strong>
        </div>
        <div class="info">
          Data di nascita:
          <strong th:text="${author.dateOfBirth}"></strong>
        </div>
        <div class="info" th:if="${author.dateOfDeath}">
          Data di morte:
          <strong th:text="${author.dateOfDeath}"></strong>
        </div>
		Immagine:
		<img class="author-img" th:src="@{'/image/author/' + ${author.id}}" alt="Foto Autore" />
      </div>

      <div class="container not-found" th:unless="${author}">
        <p>Autore non trovato.</p>
      </div>
    </main>

    
    <footer>
      <p>&copy; 2025 Libreria SIW. Tutti i diritti riservati.</p>
    </footer>
  </body>
</html>
