<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Libro</title>
    <link rel="stylesheet" href="/css/operazioni.css" />
</head>

<body>
    <header>
        <a href="/" class="logo-link">
            <img src="/images/logo-siwBooks.png" alt="Logo SiwBook" class="logo-img" />
        </a>
        <div class="navbar">
            <h1 class="logo">Libreria SIW</h1>
            <nav>
                <ul>
                    <li><a href="/homepage">Home</a></li>
                    <li><a href="/books">Catalogo</a></li>
                    <li><a href="/bookIndex">Operazioni Libri</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">


        <ul class="review-list">
            <li th:each="review : ${user.reviews}" class="review-card">
                <h3 th:text="${review.title}">Titolo recensione</h3>
                <div th:if="${review.user != null}">
                    <span class="review-author" th:text="${review.user.name}">Nome autore</span>
                </div>
                <p th:text="${review.text}">Testo della recensione</p>
                <p>
                    ⭐ Valutazione: <span th:text="${review.rating} + ' / 5'">0 / 5</span>
                </p>
                <div>
					<a th:href="@{'/review/' + ${review.id} + '/update'}" class="btn btn-secondary">Modifica</a>
                    <form th:action="@{'/review/' + ${review.id} + '/delete'}" method="post" onsubmit="return confirm('Sei sicuro di voler eliminare la recensione?');">
                        <button type="submit" class="btn btn-secondary">Elimina</button>
                    </form>
                </div>
            </li>
        </ul>

    </main>

    <footer>
        <p>&copy; 2025 Libreria SIW. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
